*.iml
.gradle
/local.properties
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/jarRepositories.xml
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/sudopasswordmanager/.kotlintest
/sudopasswordmanager/src/main/assets/register_key.id
/sudopasswordmanager/src/main/assets/register_key.private
/sudopasswordmanager/src/main/assets/sudoplatformconfig.json
/.editorconfig
